*.d
*.o
*.bin
*.hex
*.eep
*.list
*.lst
*.srec
*.a
*.elf
*.stylecheck
*.swp
*.csv
*.ods
\#*
.\#*
*~
*-
*.map
*.log
*.tag
*.lss
*.sym
*.csv
Kicad-XBee/symbols/
Kicad-XBee/footprints/
*.bak
*.cmp
*.net
auxiliary/
moc_*
ui_*
CMakeCache.txt
cmake_install.cmake
CMakeFiles/

