*.d
*.o
*.bin
*.hex
*.eep
*.list
*.lst
*.srec
*.a
*.elf
*.stylecheck
*.swp
*.csv
*.ods
\#*
.\#*
*~
*-
*.map
*.log
*.pdf
*.tag
*.lss
*.sym
*.csv
*.lib
Kicad/symbols/
Kicad/footprints/
auxiliary/
moc_*
ui_*

